body {
    background-color: rgb(12, 106, 122);
    box-sizing: border-box;
}

.Introdução {
    width: 800px;
    margin: 0px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.Introdução h1 {
    font-size: 25px
}

.Calculobloco {
    float: left;
    height: 400px;
    padding: 50px;
    width: 450px;
    margin: 40px;
    background: #ffffff;
    border-radius: 10px;
}

.CalculoTitulo,
.titulotabela {
    background: rgb(116, 113, 113);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 10px;
    font-size: 25px;
    text-align: center;

}

.CalculoTitulo {
    width: 80%;
    margin: auto;
}

#peso::placeholder,
#altura::placeholder {
    text-align: center;

}


.calculo {
    text-align: center;
    padding: 10px;

}

#formulario {
    padding: 20px;

}

input,
form button {
    width: 100%;
    margin: 5px;
    box-sizing: border-box;

}

form button {
    padding: 10px;
}

form input {
    font-size: 13px;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}

form input:focus {
    outline: 1px solid rgb(12, 106, 122);
}

/* esconde as setas do input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.Tabelabloco {
    margin: 40px;
    float: right;
    padding: 50px;
    width: 450px;
    background: #ffffff;
    height: 400px;
    border-radius: 10px;
}


.resultadocalculo {
    color: rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgb(147, 230, 230);
    width: 400px;
    text-align: center;
}

button {
    border-radius: 10px;
    border-style: solid;
    background-color: #747171;
}

button:hover {
    background-color: #fff;
    color: rgb(147, 230, 230);


}

table {
    padding: 10px;
    font-size: 18px;

}

tr {

    text-align: center;



}

.title-imc {
    text-align: left;
}

tr td {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

th {
 
    border-radius: 30px;
    background: #747171;
    padding: 3px;


    color: #000;
  
}

.resultadocalculo {
    width: 90%;
    margin: 0 auto;
}


@media screen and (max-width: 1270px) {

    .Calculobloco,
    .Tabelabloco {
        float: none;
        width: 740px;
        margin: 40px auto;
    }

    .CalculoTitulo,
    .titulotabela {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .Introdução {
        width: 40em;
    }

    .Calculobloco,
    .Tabelabloco {
        float: none;
        width: 36em;
        margin: 40px auto;
    }

    .CalculoTitulo,
    .titulotabela {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    .Introdução {
        width: 18em;
    }

    .Calculobloco,
    .Tabelabloco {
        float: none;
        width: 15em;
        margin: 40px auto;
    }

    .CalculoTitulo,
    .titulotabela {
        width: 100%;
        font-size: 1em;
    }

    table {
        width: 100%;
        font-size: .8em;
    }

    .Tabelabloco,
    .Calculobloco {
        height: 30em;
    }
}